*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #ff6900;
    height: 50px;
    color: white;
}

body{
    font-family: sans-serif;
}

main{
    padding-top: 3rem;
    width: 70%;
}

ul{
    list-style-type: none;
}

header div.logo img{
    width: 50%;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.flex{
    display: flex;
    flex-direction: row;
}

section.upper{
    width: 100%;
    align-items: center;
}

section.upper>div{
    width: 20%;
    padding: .5rem 1rem;
}

section.upper nav {
    width: 45%;
}

section.upper nav ul{
    list-style-type: none;
    padding: .5rem 1rem;
    justify-content: left;
}

.box{
    height: 30px;
    width: 30px;
    background-color: white;
    position: absolute;
    top: 10px;
    right: 0;
}

section.upper nav ul li{
    margin-right: .5rem;
}

header div.icons img{
    width: 20%;
}

section.upper div.icons{
    text-align: right;
}

.background-orange{
    background-color: #ff6900;
}

.brand{
    font-size: .85rem;
}

.description{
    font-weight: bold;
}

.discount{
    color: red;
    font-weight: bold;
}

.old-price{
    text-decoration: line-through;
}

.discount-box{
    width: 15%;
    background-color: red;
    padding: 5px 10px;
    color: white;
    position: absolute;
    bottom: 110px;
}

.sustainability{
    background-color: green;
    width: 30%;
    padding: 5px 10px;
    color: white;
    position: absolute;
    bottom: 110px;
    left: 60px;
}

div.column{
    width: calc(100% / 3);
    margin-bottom: 2rem;
    position: relative;
}

div.column img{
    width: 100%;
}

span.favourite{
    font-size: 1.5rem ;
    margin-left: 5px;
}
